.sidebar_card{
    display: flex;
    flex-direction: column;
    height: 180px;
    align-items: center;
    background-color: #cbd2d8;
    margin-top: 2rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: auto;
}
.sidebar_card_top{
    height: 80px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.sidebar_card_image{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius:100%;
    position: relative;
    z-index: 2;
    margin-top: -1.2rem;
}
.sidebar_card_below{
    text-align: center;
    margin-top: 1rem;
    background-color: #cbd2d8;
    padding-bottom: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.sidebar_card_below p{
    margin-top: 0.4rem;
}