.width{
    padding: 0;
    margin: 0;
}
.options{
    display: flex;
    align-items: center;
}
.survey_buddy{
    margin-top: 9px;
}
.home_link{
    color: #2e3f5e;
    font-weight: 350!important;
}
#home{
    position: relative;
    z-index: 1;
}
._header{
    background-color: #eff3ff;
}
#menu nav a{
     margin: 0!important;
}
._header h1{
color:#091e56;
color:rgb(9, 30, 86);
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family:"Work Sans", sans-serif;
font-size: 60px;
line-height:70px;
vertical-align:baseline;
letter-spacing:-1.5px;
word-spacing:0px;
margin:0px 0px 20px;
padding:0px;
font-weight:600;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(9, 30, 86);
text-align:left;
text-indent:0px;
}
._header ._left h3{
    color:#637381;
color:rgb(99, 115, 129);
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family:"Work Sans", sans-serif;
font-size:20px;
line-height:23px;
vertical-align:baseline;
letter-spacing:normal;
word-spacing:0px;
margin:0px 0px 8px;
padding:0px;
font-weight:400;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(99, 115, 129);
text-align:left;
text-indent:0px;
}
._header ul a{
    cursor: pointer!important;
}
._header li{
    margin-top: 20px;
    cursor: pointer!important;
}
._left{
    height: 90vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: self-end;
}
@media only screen and (min-width: 1000px) {
    ._left {
        /* margin-left: 20rem; */
        margin: auto;
        max-width: max-content;
        margin-right: 13.6rem;
    } 
    #home ._img{
        margin: 1rem!important;
        margin-left: 8rem!important;
        margin-top: -10rem!important;
    }
}
/* 600 */
@media only screen and (max-width: 1000px) {
    #home ._img{
        margin: 0!important;
    }
    
}
._img{
    width: 450px;
    object-fit: contain;
    height: auto;
    margin: auto;
    max-width: -webkit-fill-available;
}
#about{
    padding: 0!important;
}
.footer_end{
    height: 50px;
    display: flex;
    place-content: space-around;
    align-items: center;
}
#menu{
    background-color: white;
}
@media only screen and (min-width: 600px) {
    ._right{
        height: 100vh;
        margin-top: 50px;
        display: flex;
        margin-left: -10rem;
    } 
    .about-text{
        /* margin-top: 120px; */
        text-align: left;
        padding-left: 30px;
    }
}
@media only screen and (max-width: 600px) {
    #menu .options{
        display: flex;
        flex-direction: column;
    }
    #menu .navbar-toggle{
        margin-right: 60px;
    }
    ._left {
        padding-left: 20px;
        margin-top: 2rem;
        padding-bottom: 10px;
        font-size:46px;
    }
    ._right{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    
}
.nav_white{
    background-color: #eff3ff!important;
}

.about-text h2{
    color:#252525;
color:rgb(37, 37, 37);
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family:"Work Sans", sans-serif;
font-size:36px;
line-height:42px;
vertical-align:baseline;
letter-spacing:-1.5px;
word-spacing:0px;
margin:0px 0px 20px;
padding:0px;
font-weight:600;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(37, 37, 37);
text-align:left;
text-indent:0px;
margin: 0!important;
}
.about-text  h2{
    color:#252525;
color:rgb(37, 37, 37);
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family:
"Work Sans", sans-serif;
font-size:
36px;
line-height:42px;
vertical-align:baseline;
letter-spacing:-1.5px;
word-spacing:0px;
margin:0px 0px 20px;
padding:0px;
font-weight:600;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(37, 37, 37);
text-align:left;
text-indent:0px;
}
.about-text p{
    color:#637381;
color:rgb(99, 115, 129);
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family:"Work Sans", sans-serif;
font-size:16px;
line-height:19px;
vertical-align:baseline;
letter-spacing:normal;
word-spacing:0px;
margin:0px 0px 8px;
padding:0px;
font-weight:400;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(99, 115, 129);
text-align:left;
text-indent:0px;
margin: 0!important;
}
.about_blue_text{
    color:#1740aa;
background-color:#000000;
background-color:rgba(0, 0, 0, 0);
font-family:"Work Sans", sans-serif;
font-size:16px;
line-height:19px;
vertical-align:baseline;
letter-spacing:normal;
word-spacing:0px;
margin:0px 0px 15px;
padding:0px;
font-weight:700;
font-style:normal;
font-variant:normal;
text-transform:uppercase;
text-decoration:none solid rgb(23, 64, 170);
text-align:left;
text-indent:0px;

}
.img-responsive{
    object-fit: contain;
}
.footer{
    margin-top: 50px;
}
#about{
    margin-top: 20px;
    background-color: #fbfbfb;
}
.about_right_icon{
    object-fit: cover!important;
    width: 70px!important;
    margin-bottom: 30px;
}
.indian_people_img_div{
    background:#eff3ff;
    width: 100vw;
}
.indian_people_img{
    position: relative;
    z-index: 2;
    width: 50%!important;
    margin-top: -35rem;
}
#features{
    /* border: 3px solid black!important; */
    width: 85vw!important;
    padding: 0!important;
    border-radius: 30px!important;
    margin-top: -14rem!important;
    position: relative!important;
    z-index: 4!important;
    background: white!important;
}
#features .row{
    width: 100%;
}
.features_row{
    padding-top: 20px
}
.features{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.features_row{
    width: 70%;
}
@media only screen and (max-width: 600px) {
    .features{
        margin-top: 10rem;
    }
}