.UserProjectsDashboardHeader{
    height: 45px;
    background-color: rgb(240,240,240);
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 11;
}
.UserProjectsDashboardHeader  .left{
    margin-left: 20px;
    align-self: center;
}
.UserProjectsDashboardHeader .right  {
    color: grey;
    margin-right: 100px;
}
.UserProjectsDashboardHeader .right .sort .MuiInputBase-root{
    margin-top: 0!important;  
    background-color: rgb(240,240,240);
}
/* MuiInputBase-root MuiInput-root MuiInput-underline makeStyles-selectEmpty-2 MuiInputBase-formControl MuiInput-formControl */
/* MuiInputBase-root MuiInput-root MuiInput-underline makeStyles-selectEmpty-26 MuiInputBase-formControl MuiInput-formControl */
.UserProjectsDashboardHeader .right  .search{
    border: 1.4px solid grey;
    border-radius: 27px;
    padding-left: 5px;
    margin-right: 5px;
    border-bottom:2px solid rgb(58, 160, 255);
    background-color: rgb(255,255,255);
}
.UserProjectsDashboardHeader .right  .search input{
    background-color: rgb(255,255,255);
    outline: none;
    border: none;
}
.marginAuto{
    margin: auto;
}

























.flex{
    display: flex;
}
.account_icon{
    
}
.UserProjectsDashboardHeader .dropbtn {
    background-color: #4d91ff;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    place-content: space-evenly;
    margin-top: 2px;
  }
  
  .UserProjectsDashboardHeader   .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .UserProjectsDashboardHeader  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1111;
  }
  
  .UserProjectsDashboardHeader  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .UserProjectsDashboardHeader  .dropdown-content a:hover {background-color: #f1f1f1;}
  .UserProjectsDashboardHeader  .dropdown:hover .dropdown-content {display: block;}
  .UserProjectsDashboardHeader  .dropdown:hover .dropbtn {background-color:#236efa;}
