#user_profile{
    flex: 0;
}
.user_profile{
    display: flex;
    flex-direction: column;
    flex: 0.8;
    overflow-y: hidden;
    width: -webkit-fill-available;
    margin-top: 60px;
}
.user_profile_user_info_card{
    width: 100%;
    display: flex;
    place-content: space-around;
}
.user_profile_survey_cards .row{
    display: flex;
    margin-top: 20px;
    place-content: space-around;
    margin-bottom: 2rem;
}
@media only screen and (min-width: 600px) {
    
}
@media only screen and (max-width: 600px) {
    .user_profile_survey_cards .row{
        flex-direction: column;
        place-items: center;

    }
    .user_profile_survey_cards .card{
        margin-top: 0px 20;
    }
}
/* New Styles */
.survey_cards{
    display: flex;
    flex-direction: column;
    margin: auto;
}