.UserProjectsDashboardRightMenu{
    display: flex;
    width: 100%;
    flex: 0.9;
    background-color: azure;
    flex-direction: column;
    margin-left: 100px;
    min-width: -webkit-fill-available;
}
.UserProjectsDashboardRightMenu .body{
    margin-top: 45px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}
.UserProjectsDashboardRightMenu .body .MuiPaper-root{
    max-height: 90vh!important;
    margin-top: 10px!important;
}
/* .UserProjectsDashboardRightMenu .body .MuiPaper-root::-webkit-scrollbar {
    display:none;
} */
.UserProjectsDashboardRightMenu .body .ongoing-due{
    width: 100%;
    justify-content: space-evenly;
}
.UserProjectsDashboardRightMenu .body .ongoing-due span{
    color:#737373;
font-size:12px;
font-weight:400;

}
.UserProjectsDashboardRightMenu .body .MuiPaper-root{
    overflow-y: scroll !important;
    width: 89vw;
}
.UserProjectsDashboardRightMenu .body {
    overflow-y: scroll !important;
    width: auto;
    height: -webkit-fill-available;
}
.UserProjectsDashboardRightMenu .members_template{
    display: flex;
    flex-direction: column;   
}
.UserProjectsDashboardRightMenu .members_template p{
    margin: 2px;
}
/* MuiPaper-root MuiPaper-elevation2 MuiPaper-rounded */
/* MuiPaper-root MuiPaper-elevation2 MuiPaper-rounded */