.newUI{
    overflow-y:scroll ;
    padding-right: 0!important;
}
.align_start{
    place-items: start!important;
    align-self: flex-end;
}
.width_100{
    width: 100%;
}
.width_auto{
    width: auto;
}
.space_between{    
    justify-content: space-between;
}
.todo .left{
    margin-left: 10px;
    /*  */
}
.todo .left label{
    margin-left: 10px;
}
.todo .left input{
    margin-right: 10px;
}
.todo .right{
    /* margin-right: 10px; */
}
.todo .right .btn{
    margin-right: 10px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form  input{
    height: fit-content;
}
.todo {
    padding: 7px;
    transition: 0.3s;
}
.todo:hover{
    background-color: #add8e6;
}
.todo-label{
    place-self: flex-end;
}
.todo input[type="checkbox"]{
    margin: 0;
}
.MuiDialog-paper{
    width: 500px !important;
    height: 300px !important;
}
.MuiDialogTitle-root{
    margin: auto !important;
    margin-bottom: 0!important;
    margin-top: 20px!important;
}
.coding {
    overflow-y: scroll;
}
.coding .MuiFormControl-root{
    width: 400px!important;
    margin: auto!important;
    margin-top: 0!important;
}
.coding .MuiDialog-paper .MuiButtonBase-root{
    width: 300px !important;
    align-self: center!important;
    margin-top: 10px!important;
}
.coding .MuiTreeItem-label,.MuiTreeItem-root .MuiSvgIcon-root{
    font-size: 20px !important;
}
.coding .MuiTreeView-root{
    height: 47vh !important;
    overflow-y: scroll !important;
}
.chooseCategoryOption .MuiButtonBase-root{
    display: flex;
    margin: auto !important;
}
.MuiDialogTitle-root .MuiTypography-root{
    font-weight: 600;
    font-size: 1.7rem;
}
.ctrlClickSelected {
    background-color: #9fd1ff;
}
.ctrlClickSelected:hover{
    background-color: #9fd1ff;
}
.disabledCodeStyle{
    text-decoration: line-through !important;
    color: grey !important;
}
/* className={"todo " +  (props.ctrlClickActive ? `ctrlClickSelected` : ``)} */
/* MuiDialogTitle-root */
/* MuiTypography-root MuiTypography-h6 */
/* MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary */
/* MuiPaper-root MuiDialog-paper MuiDialog-paperScrollPaper MuiDialog-paperWidthSm MuiPaper-elevation24 MuiPaper-rounded */