.navigation{
    height: 60px;
    background-color: black;
    display: flex;
    /* position: fixed; */
    width: 100%;
    justify-content: space-around;
}
.navigation .right{
    align-self: center;
    display: flex;
}
.navigation h2{
    min-width: fit-content;
    color:#ffffff;
color:rgb(255, 255, 255);
font-size:30px;
line-height:18px;
vertical-align:baseline;
letter-spacing:normal;
word-spacing:0px;
margin:0px 154.6px;
padding:0px 15px;
font-weight:500;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(255, 255, 255);
text-align:start;
text-indent:0px;
line-height:18px;
vertical-align:middle;
letter-spacing:normal;
align-self: center;
/* margin:0px;
padding:0px; */
margin-left: 10rem;
cursor: pointer;
text-transform: uppercase;
}
.navigation .right h2{
    margin: 0;
    cursor: pointer;
    font-size: larger;
    text-transform: uppercase;
}
.navigation  a{
    text-decoration: none;
}