.menuitem1{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    transition: 100ms ease-in;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    /* margin-top: 15px; */
}
@media only screen and (max-width: 600px) {
    .menuitem1{
        place-content: center;
    }
}
.menuitem1:hover{
    color: black;
}
.menuitem1 ._icon{
    color: black;
    font-size: 2.3rem!important;
}
.menuitem1 p{
    font-size: large   ;
    padding-top:3px ;
    padding-left: 10px ;
    color: rgb(75, 75, 75);
}
.sidebarcomponent{
    display: flex;
    cursor: pointer!important;
    width: 95%;
    align-items: center;
    transform: transform 100ms ease;
    border-radius: 10px;
}
.sidebarcomponent:hover{
    color: #0e71eb;
}
.sidebarcomponent p:hover{
    color: #0e71eb;
}
.sidebarcomponent ._icon{
    margin-top: 4px;
}
.vertical_line{
    background: -webkit-linear-gradient(#fe562e, #f1931a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

/* New Design */
.sidebarcomponentoption{
    color:black;
/* background-color:#0e71eb; */
font-size:14px;
line-height:20px;
vertical-align:baseline;
letter-spacing:normal;
word-spacing:0px;
margin:0px;
padding:9px 16px 9px 22px;
font-weight:600;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(255, 255, 255);
text-align:left;
text-indent:0px;
width: -webkit-fill-available;
margin-top:10px;
border-radius: 8px;
font-family: 'Lato', sans-serif;
}
.sidebarcomponentoption:hover{
    color: #0e71eb;
}
/* .sidebarcomponentoption:active{
    background-color:#0e71eb;
    color: white!important;
} */