.footer{
    border: 2px solid LIGHTGREY;
    height:50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.footer .MuiButton-textPrimary{
    color: #00a8cc!important;
    margin-right: 1rem;
}